<section class="content-header">
  <h1>
    Load Historical Weather Data <small>from File</small>
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Upload Form</h3>
        </div>

        <div class="box-body">
          <div id="messages" class="alert alert-warning" ng-show="formMessage" role="alert">
            {{ formMessage }}
          </div>
          <form class="form-horizontal" name="uploadForm" enctype="multipart/form-data">
            <div class="form-group">
              <label for="inputFile" class="col-sm-2 control-label">Select File</label>
              <div class="col-sm-8">
                <input name="file" type="file" class="form-control" id="inputFile" ng-file-select ng-model="userFile" ng-multiple="false">
              </div>
              <div class="col-sm-2">
                <button class="btn btn-primary" type='button' ng-click='loadFile(userFile)' ng-disabled='isLoading'>Load <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show='isLoading'></span></button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-8 col-sm-offset-2">
                <p class="help-block">File must be in Comma-Separate Value (CSV) format with:
                  <ul>
                    <li class="help-block">Columns: [DATE, PRCP, TEMP, TMIN, TMAX, WIND]</li>
                    <li class="help-block">Date format: "YYYY-MM-DD"</li>
                    <li class="help-block">No missing or non-numeric values</li>
                  </ul>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Debug Info</h3>
        </div>
        <div class="box-body">
          <pre>{{ userFile | json }}</pre>
        </div>
      </div>
    </div>
  </div>
</section>