<div class="row">
  <div class="col-sm-12">
    <timeseries-chart data="data" accessor-x="date" accessor-y="prcp" label-y="Precip (mm)" min-y="0"></timeseries-chart>
    <timeseries-chart data="data" accessor-x="date" accessor-y="tmax" label-y="Max Temp (degC)"></timeseries-chart>
    <timeseries-chart data="data" accessor-x="date" accessor-y="tmin" label-y="Min Temp (degC)"></timeseries-chart>
    <timeseries-chart data="data" accessor-x="date" accessor-y="wind" label-y="Wind (m/s)" min-y="0"></timeseries-chart>
  </div>
</div>
