<div class="row">
  <div class="col-sm-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" ui-sref-active="active">
        <a ui-sref="weathergen.data.map">By Location</a>
      </li>
      <li role="presentation" ui-sref-active="active">
        <a ui-sref="weathergen.data.file">Upload File</a>
      </li>
      <li role="presentation" ui-sref-active="active" ng-class="{disabled: !data.data.hasData()}">
        <a ui-sref="weathergen.data.view">View Data</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-10">
    <div ui-view></div>
  </div>
</div>
<hr>
<pre>{{data.hasData | json}}</pre>