<section class="content-header">
  <h1>
    View Historical Weather Data
  </h1>
</section>

<section class="content">
  <div ng-switch="wgen.data.hasData()">
    <div ng-switch-when="false" class="row">
      <div class="col-lg-6">
        <div class="box">
          <div class="box-body">
            <h3 class="text-red"><i class="fa fa-warning"></i> Data has not been loaded!</h3>
            <p>In order to view historical data, you need to load some data first.</p>
            <p>Please choose one of the following options.</p>
            <ul>
              <li><a ui-sref="weathergen.data.map">Load Data by Location using a Map</a></li>
              <li><a ui-sref="weathergen.data.file">Load Data by Uploading a File</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div ng-switch-when="true" class="row">
      <div class="col-lg-8">
        <div class="box">
          <div class="box-body">
            <div class="btn-group pull-right">
              <label class="btn btn-success" ng-model="chart.variable" btn-radio="'prcp'" uncheckable>Precip</label>
              <label class="btn btn-success" ng-model="chart.variable" btn-radio="'tmin'" uncheckable>Tmin</label>
              <label class="btn btn-success" ng-model="chart.variable" btn-radio="'tmax'" uncheckable>Tmax</label>
              <label class="btn btn-success" ng-model="chart.variable" btn-radio="'wind'" uncheckable>Wind</label>
            </div>

            <timeseries-chart data="wgen.data.values" accessor-x="date" accessor-y="{{chart.variable}}" label-y="{{variableLabels[chart.variable]}}" min-y="0"></timeseries-chart>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Data Summary</h3>
          </div>
          <div class="box-body">
            <table class="table">
              <tbody>
                <tr>
                  <td>Start Date</td>
                  <td>2000-01-01</td>
                </tr>
                <tr>
                  <td>End Date</td>
                  <td>2010-01-01</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Data Source</h3>
          </div>
          <div class="box-body">
            <div ng-switch="wgen.data.source">
              <div ng-switch-when="location">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="col-md-2">Source:</td>
                      <td class="col-md-3"><b>Location</b></td>
                    </tr>
                    <tr>
                      <td class="col-md-2">Latitude:</td>
                      <td class="col-md-3">{{wgen.data.attrs.latitude}}</td>
                    </tr>
                    <tr>
                      <td class="col-md-2">Longitude:</td>
                      <td class="col-md-3">{{wgen.data.attrs.longitude}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div ng-switch-when="file">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Source:</td>
                      <td><b>File</b></td>
                    </tr>
                    <tr>
                      <td>Filename:</td>
                      <td>{{wgen.data.attrs.file.name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>