<section class="content-header">
  <h1>
    Set Up Weather Generator <small>for Single Run</small>
  </h1>
</section>

<section class="content">
  <div ng-switch="wgen.data.hasData() || wgen.debug">
    <div ng-switch-when="false" class="row">
      <div class="col-lg-6">
        <div class="box">
          <div class="box-body">
            <h3 class="text-red"><i class="fa fa-warning"></i> Data has not been loaded!</h3>
            <p>In order to set up the weather generator, you need to load some data first.</p>
            <p>Please choose one of the following options.</p>
            <ul>
              <li><a ui-sref="weathergen.data.map">Load Data by Location using a Map</a></li>
              <li><a ui-sref="weathergen.data.file">Load Data by Uploading a File</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div ng-switch-when="true" class="row">
      <div class="col-lg-12">
        <div class="box">
          <form class="form-horizontal" role="form">
            <div class="box-body">
              <h4>Simulation Timespan</h4>
              <div class="form-group">
                <label for="inputNumberTrials" class="col-sm-2 control-label"># Trials</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="inputNumberTrials" ng-model="form.n_trial">
                </div>
                <div class="col-sm-8">
                  <p class="help-block">Number of simulations for each set of factors.</p>
                </div>
              </div>
              <div class="form-group">
                <label for="inputNumberYears" class="col-sm-2 control-label"># Years</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="inputNumberYears" ng-model="form.n_year">
                </div>
                <div class="col-sm-8">
                  <p class="help-block">Total number of sumulation years</p>
                </div>
              </div>
              <div class="form-group">
                <label for="inputStartMonth" class="col-sm-2 control-label">Start Month</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="inputStartMonth" ng-model="form.start_month">
                </div>
                <div class="col-sm-8">
                  <p class="help-block">Initial month of the water year for output timeseries.</p>
                </div>
              </div>
              <div class="form-group">
                <label for="inputStartYear" class="col-sm-2 control-label">Start Water Year</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="inputStartYear" ng-model="form.start_water_year">
                </div>
                <div class="col-sm-8">
                  <p class="help-block">
                    Initial water year for output timeseries
                    <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" data-html="true" title="If the Start Month is not 1 (January), then the output timeseries will begin on the previous calendar year.<br><br>For example, if Start Month is 10 and Start Year is 2000 then the first timestep will be Oct 1, 1999"></i>
                  </p>
                </div>
              </div>
              <h4>Adjustment Factors</h4>
              <div class="form-group">
                <label for="inputPrecipMean" class="col-sm-2 control-label">Precip Factor</label>
                <div class="col-sm-2">
                  <div range-slider min="form.prcp_mean.range.min" max="form.prcp_mean.range.max" model-min="form.prcp_mean.minVal" model-max="form.prcp_mean.maxVal" step="{{form.prcp_mean.step}}" decimal-places="{{form.prcp_mean.decimals}}" show-values="true"></div>
                </div>
                <div class="col-sm-8">
                  <p class="help-block">
                    Range of multiplicative factors to increase or decrease overall mean precipitation
                    <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Set to 1 for no adjustment to mean precipitation.<br><br>Values greater than 1 increase the mean (e.g. 1.1 increases by 10%) and values less than 1 decrease the mean.<br><br>Individual factors will applied in 0.1 increments."></i>
                  </p>
                </div>
              </div>
              <div class="form-group">
                <label for="inputTemp" class="col-sm-2 control-label">Temperature Factor</label>
                <div class="col-sm-2">
                  <div range-slider min="form.temp_mean.range.min" max="form.temp_mean.range.max" model-min="form.temp_mean.minVal" model-max="form.temp_mean.maxVal" step="{{form.temp_mean.step}}" decimal-places="{{form.dry_spell.decimals}}" show-values="true"></div>
                </div>
                <div class="col-sm-8">
                  <p class="help-block">
                    Range of additive factors to increase or decrease overall mean temperature
                    <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Value of 0 for no adjustment to mean temperature.<br><br>Values greater than 0 increase the mean (e.g. 5 increases the mean temperature by 5 C) and values less than 0 decrease the mean.<br><br>Individual factors will applied in 1 C increments."></i>
                  </p>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button class="btn btn-primary loadinggif" ng-click='run()'>Run</button>
            </div>
          </form>
        </div>
        <div class="box">
          <div class="box-body" ng-show="wgen.debug">
            <pre>{{ inputs | json }}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>