<div class="row">
  <div class="col-sm-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" ui-sref-active="active">
        <a ui-sref="weathergen.sim.run">Single Run</a>
      </li>
      <li role="presentation" ui-sref-active="active">
        <a ui-sref="weathergen.sim.batch">Batch Run</a>
      </li>
      <li role="presentation" ui-sref-active="active">
        <a ui-sref="weathergen.sim.jobs">Job List</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-10">
    <div ui-view></div>
  </div>
</div>
<hr>
<pre>{{ jobs | json }}</pre>