<div class="row">
  <div class="col-sm-4">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputNumberYears" class="col-sm-4 control-label"># Years</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputNumberYears" ng-model="inputs.n_year">
        </div>
      </div>
      <div class="form-group">
        <label for="inputStartMonth" class="col-sm-4 control-label">Start Month</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputStartMonth" ng-model="inputs.start_month">
        </div>
      </div>
      <div class="form-group">
        <label for="inputStartYear" class="col-sm-4 control-label">Start Water Year</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputStartYear" ng-model="inputs.start_water_year">
        </div>
      </div>
      <div class="form-group">
        <label for="inputDrySpell" class="col-sm-4 control-label">Dry Spell Factor</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputDrySpell" ng-model="inputs.dry_spell_changes">
        </div>
      </div>
      <div class="form-group">
        <label for="inputWetSpell" class="col-sm-4 control-label">Wet Spell Factor</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputWetSpell" ng-model="inputs.wet_spell_changes">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPrecipMean" class="col-sm-4 control-label">Mean Precip Factor</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputPrecipMean" ng-model="inputs.prcp_mean_changes">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPrecipCV" class="col-sm-4 control-label">CV Precip Factor</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputPrecipCV" ng-model="inputs.prcp_cv_changes">
        </div>
      </div>
      <div class="form-group">
        <label for="inputTemp" class="col-sm-4 control-label">Temperature Factor</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputTemp" ng-model="inputs.temp_changes">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-4">
          <button class="btn btn-primary loadinggif" ng-click='run()'>Run</button>
        </div>
      </div>
    </form>
  </div>
</div>
