svg .axis path,
svg .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*svg .x.axis path {
  display: none;
}*/

svg .line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

#diagram {
  border: 1px solid black;
  border-radius: 10px;
}