<form class="form-horizontal" role="form">
  <div class="form-group">
    <legend>Weather Generator</legend>
  </div>
  
  <div class="form-group">
    <label for="inputLatitude" class="col-sm-2 control-label">Latitude</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputLatitude" ng-model="latitude">
      <p class="help-block">Enter latitude in decimal degrees North.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputLongitude" class="col-sm-2 control-label">Longitude</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputLongitude" ng-model="longitude">
      <p class="help-block">Enter longitude in decimal degrees East (negative values for West).</p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="submit" class="btn btn-primary" ng-click="getDataset()">Submit</button>
    </div>
  </div>
</form>
<hr>
<div ng-show="session">
  <div class="row">
    <div class="col-sm-12">
      <timeseries-chart data="data" accessor-x="DATE" accessor-y="PRCP" label-y="Precip (mm)" min-y="0"></timeseries-chart>
      <timeseries-chart data="data" accessor-x="DATE" accessor-y="TMAX" label-y="Max Temp (degC)"></timeseries-chart>
      <timeseries-chart data="data" accessor-x="DATE" accessor-y="TMIN" label-y="Min Temp (degC)"></timeseries-chart>
      <timeseries-chart data="data" accessor-x="DATE" accessor-y="WIND" label-y="Wind (m/s)" min-y="0"></timeseries-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h2>Monthly</h2>
      <p><b>Session Key:</b> {{session}}</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Precip (mm)</th>
            <th>Tmax (degC)</th>
            <th>Tmin (degC)</th>
            <th>Wind (m/s)</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="d in data | limitTo: 100">
            <td>{{d.DATE | date:'yyyy-MM-dd'}}</td>
            <td>{{d.PRCP}}</td>
            <td>{{d.TMAX}}</td>
            <td>{{d.TMIN}}</td>
            <td>{{d.WIND}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <h2>Annual</h2>
      <p><b>Session Key:</b> {{session_yr}}</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Year</th>
            <th>Precip (mm)</th>
            <th>Tmax (degC)</th>
            <th>Tmin (degC)</th>
            <th>Wind (m/s)</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="d in data_yr | limitTo: 100">
            <td>{{d.YEAR}}</td>
            <td>{{d.PRCP}}</td>
            <td>{{d.TMAX}}</td>
            <td>{{d.TMIN}}</td>
            <td>{{d.WIND}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
