<section class="content">
  <h1>Welcome to the Climate Stress Tool</h1>
  <blockquote>The Climate Stress Tool is a web application for generating synthetic weather data using a stochastic weather generator.</blockquote>
  <h2>Quick Start</h2>
  <ul>
    <li>Load some data</li>
    <li>Configure the generator</li>
    <li>Run a generator job</li>
    <li>View and download results</li>
  </ul>
  <p>See the <a href="#">Documentation</a> page for more details.</p>
  <h2>About</h2>
  <p>The Climate Stress Tool was developed by <a href="http://walkerjeff.com">Jeffrey D Walker, PhD</a> and the Hydrosystem Research Group at UMass Amherst.</p>
</section>
