<h1>Reservoir Simulation Model</h1>
<hr>
<div class="row">
  <div class="col-sm-2">
    <button class="btn btn-primary btn-block" ng-click="addReservoir()">Add Reservoir</button>
    <button class="btn btn-primary btn-block" ng-click="addDemand()">Add Demand</button>
    <button class="btn btn-primary btn-block" ng-click="addInflow()">Add Inflow</button>
    <hr>
    <button class="btn btn-primary btn-block" ng-click="logNodes()">Show Nodes</button>
    <button class="btn btn-primary btn-block" ng-click="toJSON()">Log JSON</button>
  </div>
  <div class="col-sm-6">
    <div id="diagram"></div>
  </div>
  <div class="col-sm-4" ui-view="nodelist"></div>
</div>
<hr>
<div class="row" ui-view></div>
