<div>
  <h1>Model</h1>
  <hr>
  <div class="row">
    <div class="col-sm-2">
      <button class="btn btn-primary btn-block" ng-click="addReservoir()">Add Reservoir</button>
      <button class="btn btn-primary btn-block" ng-click="addDemand()">Add Demand</button>
      <button class="btn btn-primary btn-block" ng-click="addInflow()">Add Inflow</button>
      <hr>
      <button class="btn btn-primary btn-block" ng-click="logNodes()">Show Nodes</button>
    </div>
    <div class="col-sm-10">
      <div id="diagram"></div>    
    </div>
  </div>
</div>