<section class="content-header">
  <h1>
    Water Resources System Simulation Model
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-8">
      <div class="box">
        <div class="box-header with-border">
          <div class="box-title">Model Configuration</div>
        </div>
        <div class="box-body">
          <div id="diagram"></div>
        </div>
        <div class="box-footer" ng-show="debug">
            <button ng-show="debug" class="btn btn-default" ng-click="logNodes()">Show Nodes</button>
            <button ng-show="debug" class="btn btn-default" ng-click="toJSON()">Log JSON</button>
          <div class="pull-right">
            <button class="btn btn-primary"><i class="fa fa-arrow-circle-o-right"></i> Run</button>
            <button class="btn btn-danger" ng-click="clear()"><i class="fa fa-trash"></i> Clear</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4" ui-view="nodelist">
    </div>
  </div>
  <div class="row">
    <div ui-view>
    </div>
  </div>
</section>
